:root{
  --bg-color: #120A8F;
  --orange:#FE9920;
  --blanc: #FFFFFF;
  --card-color: rgb(23,23,23);
  cursor: url(assets/1x/Artboard1.png), auto;
}


body{
  margin: 0;
  padding: 20px;
  font-family:'Pixelify Sans';
  font-size: 16px;
  background-color: #2100fb;
}

#marine{
  font-size: 80px;
  color: #2100fb;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#focus_layer {
  display:none;
  position: absolute;
  width: 80vw;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 33;
  left:-200px;
  pointer-events: none;
}

.side_bar {
  transform: rotate(90deg);
  transform-origin: left top;
  height: 80vh;
  width: 80vh; /* Ajout d'une largeur correspondant à la hauteur souhaitée */
  float: left;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed; /* Pour éviter les problèmes de débordement */
  left: 20px; /* Pour ajuster la position depuis le bord gauche */
  top: 20px; /* Pour ajuster la position depuis le haut */
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_bar, text {
  color: #2100fb;
  font-size: 6vh; /* Taille de police ajustée */
  font-weight: bold;
  white-space: nowrap; /* Empêche le texte de se wrapper */
  text-align: center;
}

#float-image{
  width: 500px;
  float: left;
  margin: 30px
}

#text_menu{
  color: #FFFFFF;
  margin-right: 30px;
  margin-left: 30px;
}

h2{
  width: 500px;
}

.boutons {
  display: flex; /* Les enfants sont alignés horizontalement */
  justify-content: space-between; /* Ajoute un espace égal entre chaque élément */
  gap: 10px; /* Espace de 40px entre chaque élément */

}

#portfolio {
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
  z-index: 2;
}


#CV{
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
}

#txt{
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
}




---------------------------------------Orga de la page .img (portfolio)----------------------------


.container{
  width: 1200px;
  margin: 0px auto;
}

.box{
  width: auto;
  padding:0px;
  float: left;
  margin: 10px;
  position: relative;
}

.box img{
  width:100%;
  height: 100%;
  height: 470px;
  object-fit: contain;
  transition: 0.3s;
}


.caption {
  pointer-events: none;
}

.box:hover{
  background-color:#020223 ;
}

#project_img.active{
  position: fixed; /* Position absolue par rapport à l'écran */
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
}

.box img:hover +.caption{
  display: block;
  color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
}

.box img:hover{
  opacity: 0.3;
}

.box .caption{
display : none;
}

---------------------------------------Orga des pages individuelles (portfolio)----------------------------

.container_sing{
  width: 1200px;
  margin: 0px auto;
}

.box_sing{
  width: auto;
  padding:0px;
  float: left;
  margin: 10px;
  position: relative;
}

.box_sing img{
  width:100%;
  height: 100%;
  height: 470px;
  object-fit: contain;
  transition: 0.3s;
}