:root{
  --bg-color: #120A8F;
  --orange:#FE9920;
  --blanc: #FFFFFF;
  --card-color: rgb(23,23,23);
  cursor: url(assets/1x/Artboard1.png), auto;
}


body{
  margin: 0;
  padding: 20px;
  font-family:'Pixelify Sans';
  font-size: 16px;
  background-color: #2100fb;
  transition: 0.3s;
}

#marine{
  font-size: 80px;
  color: #2100fb;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#focus_layer {
  display:none;
  position: absolute;
  width: 80vw;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 33;
  left:-200px;
  pointer-events: none;
  transition: 0.3s;
}


#float-image{
  width: 500px;
  float: left;
  margin: 30px
}

#text_menu{
  color: #FFFFFF;
  margin-right: 30px;
  margin-left: 30px;
  transition: 0.3s;
}

h2{
  width: 500px;
  transition: 0.3s;
}

.boutons {
  display: flex; /* Les enfants sont alignés horizontalement */
  justify-content: space-between; /* Ajoute un espace égal entre chaque élément */
  gap: 10px; /* Espace de 40px entre chaque élément */
  transition: 0.3s;
}

#portfolio {
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
  z-index: 2;
  transition: 0.3s;
}


#CV{
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
  transition: 0.3s;
}

#txt{
  color: #0400ff;
  background-color: #FFFFFF;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 50px;
  transition: 0.3s;
}




---------------------------------------Orga de la page .img (portfolio)----------------------------


.container{
  width: 1200px;
  margin: 0px auto;
}

.box{
  width: auto;
  padding:0px;
  float: left;
  margin: 10px;
  position: relative;
  transition: 0.3s;
}

.box img{
  width:100%;
  height: 100%;
  height: 470px;
  object-fit: contain;
  transition: 0.3s;
}

.caption {
  pointer-events: none;
}

.box:hover{
  background-color:#020223 ;
}

.box img:hover +.caption{
  display: block;
  text-align: left;
  color: #fefefe;
  position: absolute;
  top: 30%;
  left: 30%;
}

.box img:hover{
  opacity: 0.2;
}

.box .caption{
display : none;
}

---------------------------------------Orga des pages individuelles (portfolio)----------------------------

---------------------------------------Orga de page cv (resumee)----------------------------


#home{
  width: 30px;
  margin-left: 20px;
  padding: 5px;
  transition: 0.2s;
  border-radius: 20%;
}

#home:hover{
  background-color:#0502bc;
  border-radius: 50%;
  padding: 5px;
  transition: 0.2s;
}

.cv{
  height: 297px;
  width: 210px;
  background-color:#fefefe;
}

---------------------------------------Orga de la page .txt (contact)----------------------------


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;

}

input::placeholder, textarea::placeholder {
  color: #ffffff;
  font-family:'Pixelify Sans' ;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #0400ff;
  font-size: 0.875em;
}

#form {
  position: center;
  width: 100vw;
  margin: 50px;
  display: flex; /* Active le modèle Flexbox */
  flex-direction: column; /* Dispose les éléments en colonne */
  gap: 0px;
  

}

input {
  font-family: 'Pixelify Sans';
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #ffffff; /*couleur du text une fois tapé puis deselectionné*/
  
  border: solid 1px #ffffff;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ffffff;
  color: #0400ff;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #ffffff; /* couleur du text une fois tapé puis deselectionné dans le message input*/
  font-family: 'Pixelify Sans';
  font-size: 0.875em;
  border: solid 1px #ffffff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ffffff;
  color: #0400ff;
}

#submit {
  width: 502px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Pixelify Sans';
  font-size: 0.875em;
  color: #ffffff;
  outline:none;
  cursor: pointer;
  border: solid 1px #ffffff;
  border-top: none;
}

#submit:hover {
  color: #0400ff;
}